<div class="main">

  <h4>Update DataCenter</h4>

  <div class="corp-id">
    <label for="Corp_ID">CorpID </label>
    <input id="CorpID" [(ngModel)]="corpID" />
  </div>

  <div class="data-center">
    <label for="DataCenter"> Select Datacenter </label>
    <select id="ip">
      <!--<option *ngFor="let title of httpTitles" >
        {{httpTitles}}
      </option>-->

      <option>http://10.1.50.175/</option>
      <option>http://localhost/</option>
      <option>http://localhost:32843/</option>
      <option>https://localhost:44382/</option>
      <option>http://192.168.0.16/</option>
      <option>http://192.168.0.250/</option>
      <option>http://192.168.0.10</option>
      <option>https://phqatesting.intercardinc.com/</option>
    </select>

  </div>

  <div class="save-changes">
    <button type="button" class="save-changes-button"(click)="save()">Save Changes</button>
  </div>

</div>
