<div class="main">

  <h4>Update DataCenter</h4>

  <div class="corp-id">
    <label for="Corp_ID">CorpID </label>
    <input id="CorpID" [(ngModel)]="corpID" />
  </div>

  <div class="data-center">
    <label for="DataCenter"> Select Datacenter </label>
    <select id="ip" [(ngModel)]="selectValIndex">
    
      <option *ngFor="let title of httpTitles; let i = index" [value]="i">
        {{title}}
      </option>

    </select>

  </div>

  <div class="save-changes">
    <button type="button" class="save-changes-button"(click)="save()">Save Changes</button>
  </div>

</div>
