<div class="main">

  <h4>Update Payment Processors</h4>

  <div class="location-code">
    <label for="LocationCode">Location Code </label>
    <input id="LocationCode" [(ngModel)]="locationCode" />
  </div>

  <div class="processor">
    <label for="Processor"> Processor </label>
    <select id="prcsr" [(ngModel)]="selectValIndex">

      <option *ngFor="let title of processorTitles; let i = index" [value]="i">
        {{title}}
      </option>

    </select>

  </div>

  <div class="save-changes">
    <button type="button" class="save-changes-button" (click)="save()">Save Changes</button>
  </div>

</div>
